{{>layout/header}}

<h1>footcare</h1>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <a href="/auth" role="button" class="btn btn-primary">회원 가입</a>
            <a href="/login" role="button" class="btn btn-primary" id="login-button">로그인</a>
            <a href="/gallery" role="button" class="btn btn-primary">갤러리</a>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script src="/js/app/index.js"></script>

</body>
</html>