{{>layout/header}}

<h1>로그인</h1>

<div class="col-md-12">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="username"> ID</label>
                <input type="text" class="form-control" id="username" placeholder="이름을 입력하세요.">
                <label for="password"> 비빌번호 입력</label>
                <input type="password" class="form-control" id="password" placeholder="비밀번호를 입력하세요.">
            </div>
        </form>
        <a href="/" role="button" class="btn btn-secondary"> 취소</a>
        <button type="button" class="btn btn-primary" id="btn-login">등록</button>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script src="/js/app/login.js"></script>

</body>
</html>